<%- include("partials/header"); -%>


<div class="jumbotron jumbotron-fluid">
	<div class="container">
	  <h1 class="display-1">Food&Such</h1>
	  <p class="lead">This is where I share my journey trying to become a better home chef.</p>
	</div>
  </div>
<div class="container">
<div class="row">
<ul class="col-9">
		<% renderList.forEach(element =>{ %> 

			<li>
				<h1><a href="post/<%=  element._id %>"><%=  element.title %></a></h1>
				<p><%= element.createdAt %></p>
				<p><%= element.text %></p>


			</li>
			<hr/>
		<% }); %>
</ul>


<div class ="col-3">
	<h2>Search by Tags</h2>
	<ul>
		<li>Baking</li>
		<li>Mexican</li>
		<li>Vegetarian</li>
		<li>Breakfast</li>
		<li>Grilling</li>
	</ul>
	
</div>
</div>
</div>






<%- include("partials/footer"); -%>