<%- include("partials/header"); -%>




<h1> A Post</h1>



<div class="card mb-4">
          		<div>
            		<h2> <%= renderPost.title %> </h2>
            		<p> <%= renderPost.createdAt %> </p>
            <p> <%= renderPost.text %></p>
            
          </div>
          <div class="card-footer text-muted">
            Posted on January 1, 2020
          </div>
        </div>


<%- include("partials/footer"); -%>